$size: 1rem;

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.font-weight-bold {
  font-weight: bold;
}

.font-style-italic {
  font-style: italic;
}

.lh-15 {
  line-height: 1.5;
}

.h1 {
  font-size: $size * 4;
}

.h2 {
  font-size: $size * 3;
}

.h3 {
  font-size: $size * 2;
}

.h4 {
  font-size: $size * 1.5;
}
