.bg-secondary {
  background-color: $secondary;
}

.bg-danger {
  background-color: $danger;
}

.bg-danger-2 {
  background-color: $danger-2;
}

.bg-danger-3 {
  background-color: $danger-3;
}

.text-secondary {
  color: $secondary;
}

.text-danger {
  color: $danger;
}

.text-danger-2 {
  color: $danger-2;
}

.text-white {
  color: $white;
}
